.app {
  max-inline-size: 1000px;
  margin: 0 auto;
  container-type: inline-size;
}

.header {
  background-color: #8b6704;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-links li {
  margin-inline-end: 10px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.nav-link:hover {
  text-decoration: underline;
}
.contact-info a {
  color: #fff;
}
.nav-link:hover:hover{
  background-color: #1877f2;
}

.footer {
  background-color: #8b6704;
  color: white;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.scroll-to-top-btn {
  background-color: #2cf10a;
  color: #610909;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.scroll-to-top-btn:hover {
  background-color: #21e1db;
}

.social-media:hover {
  background-color: #b7f10a;
  flex: 1;
}
.contact-info,
.terms {
  flex: 1;
  padding: 0 1rem;
}

.additional-info h2,
.social-media,
.terms,
.privacy-policy h2 {
  margin-block-start: 0;
}
.sidebar {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.container {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
}

.container {
  margin-block-start: 0;
}

.container h4 {
  margin-block-end: 10px;
}

.container p {
  margin-block-end: 10px;
}

.video-container {
  position: relative;
  overflow: hidden;
  padding-block-start: 56.25%; 
}

.video-container iframe {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 50%;
  block-size: 100%;
}

@media (max-inline-size: 768px) {
  .main-content {
    grid-template-columns: 1fr;
  }
}
